<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">	
	
</head>
<body>
	<div id="app">
		<div class="container">
				<h1>
					Defeat the monster
				</h1>
				<h2>Winner: {{ winner }}</h2>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div id="player" class="box card">
							<div class="card-block">
								<h4 class="card-title">{{ player.name }}</h4>
								<div id="playerHealth" class="healthBar">
									<span class="healthCount">{{ player.health }} / 100</span>
									<span class="health" :style="{ width: player.health + '%' }"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div id="monster" class="box card">
							<div class="card-block">
								<h4 class="card-title">{{ monster.name }}</h4>
								<div id="monsterHealth" class="healthBar">
									<span class="healthCount">{{ monster.health }} / 100</span>
									<!-- <span class="health" :style="width:monster.health + '%'"></span> -->
									<span class="health" :style="{ width: monster.health + '%' }"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="commands">
					<button v-show="!gameOn" @click="startTheGame" class="btn btn-outline-primary">Start the game</button>
					<button @click="attack" v-show="gameOn" class="btn btn-outline-danger">Attack</button>
					<button @click="criticalAttack" v-show="gameOn" class="btn btn-outline-danger">Critical Attack</button>
					<button @click="heal" v-show="gameOn" class="btn btn-outline-success">Heal</button>
					<button @click="surrender" v-show="gameOn" class="btn btn-outline-warning">Surrender</button>
				</div>
				
				<ul class="list-group">
					<li class="list-group-item" v-for="item in history">{{ item }}</li>
				</ul>
		</div>
	</div>
	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
	<script src="app.js"></script>
</body>
</html>