body {
	font-family: 'Source Sans Pro', sans-serif;
}
.healthBar {
	width: 100%;
	height: 50px;
	background-color: #fff;
	text-align: center;
	background-color: #efefef;
	position: relative;
	border-radius: 5px;
}

.health {
	position: absolute;
	height: 100%;
	left: 0;
	background-color: green;
	transition: all .3s;
	border-radius: 5px;
}

.healthCount {
	position: relative;
	z-index: 100;
	color: #fff;
	font-weight: bold;
	line-height: 50px;
}

.commands {
	margin-top: 50px;
}

.list-group {
	margin-top: 50px;
}

.list-group-item:nth-child(even) {
	background-color: #efefef;
}

.card-title {
	text-align: center;
	font-weight: 200;
}